.card-header {
    background-image: url("https://images.squarespace-cdn.com/content/v1/5a43cc897131a504e82eafef/1550455715629-EZPS8ARMEUJ048STDX14/ke17ZwdGBToddI8pDm48kMaVAccIHCAlT3ehWo7kkTtZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZamWLI2zvYWH8K3-s_4yszcp2ryTI0HqTOaaUohrI8PI5LGX5yPPWxlKpI322UDuSoYYhw1mEbiv7EaGpG6cJ6IKMshLAGzx4R3EDFOm1kBS/441387-gorgerous-dark-blue-background-images-1920x1080-for-android-50.jpg?format=1500w");
    background-color: #cccccc;
  }

footer  {
    background-image: url("https://images.squarespace-cdn.com/content/v1/5a43cc897131a504e82eafef/1550455715629-EZPS8ARMEUJ048STDX14/ke17ZwdGBToddI8pDm48kMaVAccIHCAlT3ehWo7kkTtZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZamWLI2zvYWH8K3-s_4yszcp2ryTI0HqTOaaUohrI8PI5LGX5yPPWxlKpI322UDuSoYYhw1mEbiv7EaGpG6cJ6IKMshLAGzx4R3EDFOm1kBS/441387-gorgerous-dark-blue-background-images-1920x1080-for-android-50.jpg?format=1500w");
    background-color: #cccccc;
    }

body {
    background-color: rgb(114, 102, 102)
}


h1 {
color: white;
}